#about {
    margin: 150px 0;

    .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }

    .about__boxes {
        display: flex;
        gap: 30px;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 70px;
        }
    }

    .about__box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 350px;
        align-items: center;
        text-align: center;

        @media (max-width: 400px) {
            width: 95%;
            row-gap: 15px;
        }
    }

    .about__img {
        width: 180px;
    }
}