#contact{
    background-color: #DBDBDB;
    padding: 88px 0;

    .contact__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contact__btn{
        width: 160px;
    }
}