#footer {
    background-color: #828282;
    padding: 26px 0;

    @media (max-width: 640px) {
        padding: 64px 0 71px;
    }
    .footer__container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 950px) {
            flex-direction: column;
            align-items: center;
            row-gap: 56px;
        }
    }

    .footer__link {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
    }

    .footer__left_box {
        display: flex;
        align-items: center;
        gap: 49px;

        @media (max-width: 640px) {
            flex-direction: column;
            row-gap: 32px;
        }
    }

    .footer__ul {
        display: flex;
        gap: 41px;

        @media (max-width: 640px) {
            flex-direction: column;
            row-gap: 32px;
        }
    }

    .footer__item_link {
        color: #FFF;
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 1.5px;
    }

    .footer__icons{
        display: flex;
        gap: 24px;
    }

    .footer__icons_box{
        width: 48px;
        height: 48px;
        background-color: #0000003f;
        border-radius: 50%;
        cursor: pointer;
    }
}