#option {

    .option__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }

    .option__slider_boxes {
        display: flex;

        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    .option__slider_box {
        width: 243px;
        border-bottom: 1px solid #C8C8C8;
        text-align: center;
        padding-bottom: 31px;
        position: relative;

        @media (max-width: 800px) {
            width: 400px;
        }
        @media (max-width: 440px) {
            width: 311px;
        }
    }

    .option__link {
        color: #747474;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 1.5px;
    }

    .option__slider_box--active::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #888888;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .option__btn {
        width: 160px;
    }

    .option__text_boxes {

        @media (max-width: 1180px) {
            width: 95%;
        }
    }

    .option__img{

        @media (max-width: 500px) {
            width: 100%;
        }
    }
}